@{
    ViewBag.Title = "Posts Listing";
        
 }
@using PagedList.Mvc;
@using PagedList;

<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<!-- loop through each of your products and display it however you want. we're just printing the name here -->
<h2>List of Posts</h2>
<ul>
    @foreach(var post in ViewBag.Page){
        <li>@post.Message</li>
    }
</ul>

<!-- output a paging control that lets the user navigation to the previous page, next page, etc -->
@Html.PagedListPager( (IPagedList)ViewBag.Page, page => Url.Action("Index", new { page }) )